* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Public Sans', sans-serif;
}

body {
  max-width: 1420px;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}